#logo{
    float:left; 
    margin:auto; 
    width:15vh; 
    height:15vh;
}

body{
    background-color: #feb417;
    margin: 0;
}

div.based{
     border-radius: 10px;
     width: 100%;
     margin: auto;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #f9e1bb;
}

header{
    background:#f9e1bb;
    margin-bottom: 30vh;
    height: 35vh;
    max-width: 100%;
    border-radius: 5%;
    align-content: center;
}
header nav{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    clear: both;
    width: 100%;
    height: 16vh;
    border-radius: 5%;
    background-color: #f9e1bb;
}
header nav ul{
    padding: 1vh;
    height: 14vh;
}
header nav ul li{
    list-style: none;
    padding:0.5vh;
    height: 4vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
header nav ul li a{
    color: #0a3b0c;
    text-decoration: none;
    font-size: 20pt;
    padding: 4vh;
}
header h1{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 3vw;
    text-align: right;
    font-size: 40pt; 
    color:#0a3b0c; 
    font-weight: normal;
    font-family: "font";
}

li{
    color:#040203;
}

a{
    color:#040203;
}

a:hover {
    color: #0a3b0c;
}

h2{
    color: #0a3b0c;
    text-align: center;
    font-size: 30pt;
    padding-left: 2%;
    padding-top:0;
}

ul{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15pt;
    margin: auto;
}

form{
    color:#040203;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15pt;
}

select{
    color: #040203;
}

input{
    color: #040203;
}

p{
    color:#0a3b0c80;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-size: 20pt;
}

div.img{
    padding-left: 30px;
}

table {
    color: #040203;
    padding: 0px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
    font-size: 15pt;
    width: 100%;
    display: block;
    overflow: scroll;
}

tr{
    background-color:#F5BB00;
}

tr.tb{
    background-color: #EC9F05;
}

@media screen and (min-width: 800px){
    #logo{
        float:left; 
        margin:10px; 
        width:20vh; 
        height:20vh;
        padding-left:3vh;
        padding-bottom:3vh;
        padding-top:3vh;
    }
    
    header{
        margin-bottom: 0.5%;
    }
    header h1{
        padding-top: 16vh;
        padding-left: 25vh;
        margin: auto;
        text-align: left;
        font-size:40pt; 
    }
    header nav{
        position: absolute;
        top:0;
        background-color: #fd000000;
        max-height: 13vh;
        height: 13vh;
        margin:auto;
    }
    header nav ul{
        background-color: #ffffff00;
        width: 50vw;
        max-width: 960px;
        display: flex;
        margin-right: 0%;
    }
    header nav ul li{
        float: right;
        text-align: center;
        background-color: #feb417;
        border-radius: 8px;
        max-width:350px;
        height: 4vh;
    }

    div.based{
        padding: 0px 10px 0px;
        border-radius: 10px;
        width: 60%;
        margin: auto;
   }

   table{
        overflow: unset;
        display: table;
    }
}